body {
    background: #c7c6c6;
}

#background {
    width: 100px;
    height: 300px;
    border-radius: 15%;
    background: #bd4a4a00;
    position: fixed;
  }

#trafficLight1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
  }

  #trafficLight2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
  }

  #trafficLight3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
  }